@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
  
  html,
  body,
  #__next {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}

@layer components {
  .slider-thumb::-webkit-slider-thumb {
    @apply w-3 h-3 rounded-full cursor-pointer pointer-events-auto
  }
}


