@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }
  
  html,
  body,
  #__next {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
}

@layer components {
  .slider-thumb::-webkit-slider-thumb {
    @apply bg-slate-500 mt-1 w-5 h-5 rounded-full cursor-pointer z-50 pointer-events-auto;
  }

  .slider-thumb::-webkit-slider-thumb:hover {
    @apply bg-blue-700;
  }

  .slider-thumb::-webkit-slider-thumb:active {
    @apply bg-blue-700
  }
}


